$hero-imgs: hero-1, hero-2, hero-3;

$font: 'League Spartan', sans-serif;

$white: hsl(0, 100%, 100%);
$grey-500: hsl(0, 0%, 63%);
$grey-800: hsl(0, 0%, 27%);
$black: hsl(0, 0%, 0%);

@mixin navi{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

@mixin breakpoint($size){
  @if $size == tablet{
    @media screen and (min-width: 48em) {
      @content;
    }
  }
  @else if $size == desktop{
    @media screen and (min-width: 62em) {
      @content;
    }
  }
}

@mixin navi-link($color){
  text-decoration: none;
  text-transform: lowercase;
  color: $color;
  font-weight: 600;
}

@mixin text-style($color, $size, $weight){
  color: $color;
  font-size: $size;
  font-weight: $weight;
  margin-block: 0;
}

body{
  margin: 0;
  font-size: 1em;
  font-family: $font;
  position: relative;
  background-color: $white;
}

img{
  width: 100%;
  object-fit: fill;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.justify-between{
  justify-content: space-between;
}

.align-center{
  align-items: center;
}

.hidden{
  display: none;
}

.cursor{
  cursor: pointer;
}

.page-navi-wrapper{
  z-index: 5;
  @include navi;
  padding: 3em 1.5em;
  grid-template-columns: repeat(3, auto);
  @include breakpoint(desktop){
    display: flex;
    padding: 4em;
    column-gap: 4em;

    .navi-open-btn{
      display: none;
    }

    .page-navi{
      display: flex;
      column-gap: 2.5em;
      .navi-link{
        @include navi-link($white);
        position: relative;

        &:hover::after{
          content: '';
          position: absolute;
          bottom: -10px;
          left: 50%;
          background-color: $white;
          width: 50%;
          height: 2px;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .page-logo{
    justify-self: center; 
  }
}

#navi-mobile-wrapper{
  z-index: 10;
  @include navi;
  bottom: 0;
  background-color: rgba($color: $black, $alpha: 0.5);
  .navi-mobile-container{
    background-color: $white;
    padding: 3em 1.5em;
    column-gap: 4em;

    .navi-mobile{
      column-gap: 1.5em;
      .navi-mobile-link{
        @include navi-link($black);
      }
    }
  }
}

.page-main {
  .hero-section{
    position: relative;

    .slide-btn-wrapper{
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: $black;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2.5em;
      padding: 1em 1.4em;

      .slide-btn{
        scale: 0.8;
        justify-self: center;
      }
    }

    @include breakpoint(tablet){
      @each $img in $hero-imgs{
        #image-#{$img}{
          content: url('../images/desktop/desktop-image-#{$img}.jpg');
        }
      }
    }
  }

  .main-info-section{
    .info-article{
      padding: 4em 2em;
      row-gap: 1em;

      .info-header{
        @include text-style($black, 2.4em, 600);
        letter-spacing: -2px;
      }

      .info-text{
        @include text-style($grey-500, 0.9em, 500);
        line-height: 1.5;
      }

      .shop-now-btn{
        margin-block-start: 1em;
        column-gap: 1em;
        &>*{
          cursor: pointer;
        }
        button{
          border: none;
          background-color: transparent;
          font-family: $font;
          text-transform: uppercase;
          letter-spacing: 11px;
          @include text-style($black, 1em, 600);
          padding: 0;
        }
      }
    }
  }

  .about-section{
    padding: 3em 2em 2.5em;
    row-gap: 1em;

    .about-header{
      @include text-style($black, 0.9em, 700);
      text-transform: uppercase;
      letter-spacing: 5px;
    }

    .about-text{
      @include text-style($grey-500, 0.9em, 500);
      line-height: 1.5;
    }
  }

  @include breakpoint(tablet){
    .main-info-section{
      .info-article{
        padding-inline: 4em;
      }
    }
  }

  @include breakpoint(desktop){
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    img{
      height: 100%;
    }

    .hero-section{
      grid-area: 1 / 1 / 2 / 7;

      .slide-btn-wrapper{
        right: calc(-1 * 100% / 6);
        width: calc(100% / 6 - 1.4em *2);
        padding-block: 1.8em;
        .slide-btn{
          scale: 1;
        }
      }
    }

    .main-info-section{
      grid-area: 1 / 7 / 2 / 11;

      .info-article{
        padding: 8em 6em;
      }

      .info-header{
        font-size: 3em !important;
      }
    }

    .dark{
      grid-area: 2 / 1 / 3 / 4;
    }

    .about-section{
      grid-area: 2 / 4 / 3 / 8;
      padding: 4.5em 3.5em;
    }

    .light{
      grid-area: 2 / 8 / 3 / 11;
    }
  }
}