body {
  margin: 0;
  font-size: 1em;
  font-family: "League Spartan", sans-serif;
  position: relative;
  background-color: hsl(0, 100%, 100%);
}

img {
  width: 100%;
  object-fit: fill;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.hidden {
  display: none;
}

.cursor {
  cursor: pointer;
}

.page-navi-wrapper {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 3em 1.5em;
  grid-template-columns: repeat(3, auto);
}
@media screen and (min-width: 62em) {
  .page-navi-wrapper {
    display: flex;
    padding: 4em;
    column-gap: 4em;
  }
  .page-navi-wrapper .navi-open-btn {
    display: none;
  }
  .page-navi-wrapper .page-navi {
    display: flex;
    column-gap: 2.5em;
  }
  .page-navi-wrapper .page-navi .navi-link {
    text-decoration: none;
    text-transform: lowercase;
    color: hsl(0, 100%, 100%);
    font-weight: 600;
    position: relative;
  }
  .page-navi-wrapper .page-navi .navi-link:hover::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    background-color: hsl(0, 100%, 100%);
    width: 50%;
    height: 2px;
    transform: translate(-50%, -50%);
  }
}
.page-navi-wrapper .page-logo {
  justify-self: center;
}

#navi-mobile-wrapper {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
#navi-mobile-wrapper .navi-mobile-container {
  background-color: hsl(0, 100%, 100%);
  padding: 3em 1.5em;
  column-gap: 4em;
}
#navi-mobile-wrapper .navi-mobile-container .navi-mobile {
  column-gap: 1.5em;
}
#navi-mobile-wrapper .navi-mobile-container .navi-mobile .navi-mobile-link {
  text-decoration: none;
  text-transform: lowercase;
  color: hsl(0, 0%, 0%);
  font-weight: 600;
}

.page-main .hero-section {
  position: relative;
}
.page-main .hero-section .slide-btn-wrapper {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: hsl(0, 0%, 0%);
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2.5em;
  padding: 1em 1.4em;
}
.page-main .hero-section .slide-btn-wrapper .slide-btn {
  scale: 0.8;
  justify-self: center;
}
@media screen and (min-width: 48em) {
  .page-main .hero-section #image-hero-1 {
    content: url("../images/desktop/desktop-image-hero-1.jpg");
  }
  .page-main .hero-section #image-hero-2 {
    content: url("../images/desktop/desktop-image-hero-2.jpg");
  }
  .page-main .hero-section #image-hero-3 {
    content: url("../images/desktop/desktop-image-hero-3.jpg");
  }
}
.page-main .main-info-section .info-article {
  padding: 4em 2em;
  row-gap: 1em;
}
.page-main .main-info-section .info-article .info-header {
  color: hsl(0, 0%, 0%);
  font-size: 2.4em;
  font-weight: 600;
  margin-block: 0;
  letter-spacing: -2px;
}
.page-main .main-info-section .info-article .info-text {
  color: hsl(0, 0%, 63%);
  font-size: 0.9em;
  font-weight: 500;
  margin-block: 0;
  line-height: 1.5;
}
.page-main .main-info-section .info-article .shop-now-btn {
  margin-block-start: 1em;
  column-gap: 1em;
}
.page-main .main-info-section .info-article .shop-now-btn > * {
  cursor: pointer;
}
.page-main .main-info-section .info-article .shop-now-btn button {
  border: none;
  background-color: transparent;
  font-family: "League Spartan", sans-serif;
  text-transform: uppercase;
  letter-spacing: 11px;
  color: hsl(0, 0%, 0%);
  font-size: 1em;
  font-weight: 600;
  margin-block: 0;
  padding: 0;
}
.page-main .about-section {
  padding: 3em 2em 2.5em;
  row-gap: 1em;
}
.page-main .about-section .about-header {
  color: hsl(0, 0%, 0%);
  font-size: 0.9em;
  font-weight: 700;
  margin-block: 0;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.page-main .about-section .about-text {
  color: hsl(0, 0%, 63%);
  font-size: 0.9em;
  font-weight: 500;
  margin-block: 0;
  line-height: 1.5;
}
@media screen and (min-width: 48em) {
  .page-main .main-info-section .info-article {
    padding-inline: 4em;
  }
}
@media screen and (min-width: 62em) {
  .page-main {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .page-main img {
    height: 100%;
  }
  .page-main .hero-section {
    grid-area: 1/1/2/7;
  }
  .page-main .hero-section .slide-btn-wrapper {
    right: -16.6666666667%;
    width: calc(16.6666666667% - 2.8em);
    padding-block: 1.8em;
  }
  .page-main .hero-section .slide-btn-wrapper .slide-btn {
    scale: 1;
  }
  .page-main .main-info-section {
    grid-area: 1/7/2/11;
  }
  .page-main .main-info-section .info-article {
    padding: 8em 6em;
  }
  .page-main .main-info-section .info-header {
    font-size: 3em !important;
  }
  .page-main .dark {
    grid-area: 2/1/3/4;
  }
  .page-main .about-section {
    grid-area: 2/4/3/8;
    padding: 4.5em 3.5em;
  }
  .page-main .light {
    grid-area: 2/8/3/11;
  }
}/*# sourceMappingURL=styles.css.map */